[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AllelicImbalance"]
	path = AllelicImbalance
	url = https://github.com/pappewaio/allelicimbalance
